<div id="home-background">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="home-page">
        <h1>Despre SportZone</h1>
        <p class="lead">Find location-based venues for sports and sports activities.</p>
        <div id = "about-project" style="font-size:1.2em;padding-top: 40px">


          <p>SportZone te ajuta sa faci miscare in locul potrivit!</p>

          <p>SportZone este un tool pentru crearea mult mai facila a diferite tipuri de aplicatii software care integreaza informatii despre activitatile sportive si de agrement.</p>

          <p>Aplicatia se prezinta sub forma unei harti interactive care pune la dispozitia utilizatorului toate locatiile unde poate desfasura activitati sportive si de agrement precum:
          Fitness, Baschet, Fotbal, Tenis de masa, Volei, Adventure Park, Atletism, Airsoft, Badminton, Biliard, Bowling, Ciclism, Dans, Darts, Echitatie, Fotbal, Golf, Hamace, Handbal, Inot,Judo, Karate, Alpinism, Patinaj, Sporturi de iarna, Arte martiale, Motociclism, Paintball, Tenis, Squash. </p>

          <p>Un plus valoare al acestei aplicatii este conferit de utilitatea Open Source. Ceea ce presupune ca platforma este populata cu informatii despre locatii, dar se ofera oricui posibilitatea de a adauga unele noi, ceea ce asigura crestea continua a volumului de date disponibil.</p>

          <p>Aceasta aplicatie a fost dezvoltata in cadrul Open Data Hackathon, Cluj-Napoca 2015, de catre <a href="https://twitter.com/rosucristi" target="_blank">Rosu Cristian</a>, <a href="https://github.com/tudorpavel" target="_blank">Pavel Tudor</a>  si colaboratorii <a href="https://www.facebook.com/catrinel.lupu" target="_blank">Lupu Catrinel</a>, <a href="" target="_blank" >Lupu Madalina</a>, <a href="https://www.facebook.com/grecu.victor" target="_blank">Grecu Ioan Victor</a> si <a href="https://www.facebook.com/timis.daniel.3" target="_blank">Timis Daniel</a> </p>
          <p>Codul sursa si aplicatia rezultata sunt disponibile sub licenta libera, pe platforma <a style="color:white;text-decoration:underline" href="https://github.com/cristianrosu/sportzone" target="_blank">Github</a></p>


          <ul id="home-menu">
            <li><%= link_to "Map Explore", explore_path %></li>
            <li><%= link_to "About", home_about_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>