<div id="home-background">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="home-page">
        <h1>Despre SportZone</h1>
        <p class="lead">Find location-based venues for sports and sports activities.</p>
        <div style="padding-top: 40px">

            <p>
              Biodiesel you probably haven't heard of them VHS, semiotics single-origin coffee fixie seitan McSweeney's farm-to-table shabby chic.
              Cold-pressed gentrify lumbersexual cronut. Umami yr scenester you probably haven't heard of them pork belly,
              cliche Marfa street art cray pop-up ethical ugh chambray tilde pour-over. Distillery ennui listicle pug raw denim.
              Vice cray cliche, taxidermy listicle before they sold out selfies semiotics fashion axe try-hard cold-pressed locavore aesthetic.
              Kogi gastropub Bushwick craft beer cray direct trade. Occupy lomo scenester fashion axe sriracha, try-hard forage fixie deep v PBR&B messenger bag synth High Life.
            </p>
            <p>
              Pitchfork master cleanse bitters, Shoreditch flannel ennui cardigan McSweeney's 3 wolf moon pug.
              American Apparel you probably haven't heard of them cliche swag, fingerstache taxidermy twee vegan Tumblr.
              Wolf biodiesel viral fanny pack. Banksy keffiyeh tote bag hoodie. Bushwick kale chips normcore Blue Bottle,
              tousled hella Thundercats High Life beard. Put a bird on it jean shorts flannel selfies polaroid.
              Blog dreamcatcher hella Godard, twee seitan occupy retro try-hard keytar bicycle rights heirloom.

            </p>

          <ul id="home-menu">
            <li><%= link_to "Map Explore", explore_path %></li>
            <li><%= link_to "About", home_about_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>