// Place all the styles related to the explore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map {
  position: absolute!important;
  bottom: 0;
  left: 0;
  right: 0;
  top:0;
  z-index: 0;
  -webkit-transition: left .4s cubic-bezier(.345,0,.25,1);
  -moz-transition: left .4s cubic-bezier(.345,0,.25,1);
  -ms-transition: left .4s cubic-bezier(.345,0,.25,1);
  -o-transition: left .4s cubic-bezier(.345,0,.25,1);
  transition: left .4s cubic-bezier(.345,0,.25,1);

}

#side-menu {
  position: absolute;
  left: 0;
  bottom:0;
  top:0;
  right:0;
  z-index: 2;
  -webkit-transition: top .5s cubic-bezier(.345,0,.25,1);
  -moz-transition: top .5s cubic-bezier(.345,0,.25,1);
  -ms-transition: top .5s cubic-bezier(.345,0,.25,1);
  -o-transition: top .5s cubic-bezier(.345,0,.25,1);
  transition: top .5s cubic-bezier(.345,0,.25,1);
  overflow: scroll;

}

.panel-content {
  position: relative;
  .panel-content-inner {
    padding: 30px 12px;
  }

}
