// Place all the styles related to the explore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map {
  position: absolute!important;
  bottom: 0;
  left: 0;
  right: 0;
  top:0;
  z-index: 0;
  -webkit-transition: left .4s cubic-bezier(.345,0,.25,1);
  -moz-transition: left .4s cubic-bezier(.345,0,.25,1);
  -ms-transition: left .4s cubic-bezier(.345,0,.25,1);
  -o-transition: left .4s cubic-bezier(.345,0,.25,1);
  transition: left .4s cubic-bezier(.345,0,.25,1);

}

#side-menu {
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 0;
  padding: 0;
  z-index: 2;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: left .4s cubic-bezier(.345,0,.25,1);
  -moz-transition: left .4s cubic-bezier(.345,0,.25,1);
  -ms-transition: left .4s cubic-bezier(.345,0,.25,1);
  -o-transition: left .4s cubic-bezier(.345,0,.25,1);
  transition: left .4s cubic-bezier(.345,0,.25,1);
}
